Implementing Fisher's Linear Discriminant Analysis to predict Heart Disease (1-4) or No Heary Disease (0) based n factors like Cholestrol, BP, Blood Sugar, Heart Rate etc

### Importing Libraries and Dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('processed.cleveland.data',header=None)

### Data Preprocessing

In [3]:
data.head()

     0    1    2      3      4    5    6      7    8    9    10   11   12  13
0  63.0  1.0  1.0  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0   0
1  67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2
2  67.0  1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0   1
3  37.0  1.0  3.0  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0   0
4  41.0  0.0  2.0  130.0  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0   0

From the dataset description we can name and understand the features.

In [4]:
cols = ['Age','Sex','Chest Pain Type','Resting BP','Cholestrol','Fasting Blood Sugar','Resting ECG',
        'Max Heart Rate','Exercise Angina','Oldpeak','Slope','CA','Thal','Heart Disease']

In [5]:
data.columns = cols

In [6]:
data.head()

,Age,Sex,Chest Pain Type,Resting BP,Cholestrol,Fasting Blood Sugar,Resting ECG,Max Heart Rate,Exercise Angina,Oldpeak,Slope,CA,Thal,Heart Disease
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
Age                    303 non-null float64
Sex                    303 non-null float64
Chest Pain Type        303 non-null float64
Resting BP             303 non-null float64
Cholestrol             303 non-null float64
Fasting Blood Sugar    303 non-null float64
Resting ECG            303 non-null float64
Max Heart Rate         303 non-null float64
Exercise Angina        303 non-null float64
Oldpeak                303 non-null float64
Slope                  303 non-null float64
CA                     303 non-null object
Thal                   303 non-null object
Heart Disease          303 non-null int64
dtypes: float64(11), int64(1), object(2)
memory usage: 33.3+ KB

Taking a look at the features 'CA' and 'Thal' being shown as non-numerical, what we find out is that both these features
have certain '?' values, probably in place pf missing values.

To fix this, we'll eliminate the instances having missing values since they form a very small percentage of our data.

In [8]:
pd.set_option('display.max_rows', 500)
data['CA']

0      0.0
1      3.0
2      2.0
3      0.0
4      0.0
5      0.0
6      2.0
7      0.0
8      1.0
9      0.0
10     0.0
11     0.0
12     1.0
13     0.0
14     0.0
15     0.0
16     0.0
17     0.0
18     0.0
19     0.0
20     0.0
21     0.0
22     0.0
23     2.0
24     2.0
25     0.0
26     0.0
27     0.0
28     0.0
29     0.0
30     2.0
31     2.0
32     0.0
33     0.0
34     0.0
35     0.0
36     0.0
37     1.0
38     1.0
39     0.0
40     3.0
41     0.0
42     2.0
43     0.0
44     0.0
45     1.0
46     0.0
47     0.0
48     1.0
49     0.0
50     1.0
51     0.0
52     1.0
53     0.0
54     1.0
55     1.0
56     1.0
57     0.0
58     1.0
59     1.0
60     0.0
61     0.0
62     3.0
63     0.0
64     1.0
65     2.0
66     0.0
67     0.0
68     0.0
69     0.0
70     0.0
71     2.0
72     2.0
73     2.0
74     1.0
75     0.0
76     1.0
77     1.0
78     0.0
79     0.0
80     0.0
81     0.0
82     0.0
83     0.0
84     0.0
85     0.0
86     0.0
87     0.0
88     0.0
89     0.0
90     0.0
91     3.0
92     3.0
93     0.0
94     0.0
95     1.0
96     1.0
97     2.0
98     1.0
99     0.0
100    0.0
101    0.0
102    1.0
103    1.0
104    3.0
105    0.0
106    1.0
107    1.0
108    1.0
109    0.0
110    0.0
111    1.0
112    0.0
113    0.0
114    1.0
115    0.0
116    0.0
117    0.0
118    3.0
119    1.0
120    2.0
121    3.0
122    0.0
123    0.0
124    1.0
125    0.0
126    2.0
127    1.0
128    0.0
129    0.0
130    0.0
131    1.0
132    0.0
133    0.0
134    0.0
135    0.0
136    0.0
137    1.0
138    0.0
139    0.0
140    0.0
141    0.0
142    0.0
143    0.0
144    0.0
145    0.0
146    3.0
147    0.0
148    0.0
149    1.0
150    0.0
151    0.0
152    0.0
153    1.0
154    1.0
155    3.0
156    0.0
157    2.0
158    2.0
159    1.0
160    0.0
161    3.0
162    0.0
163    0.0
164    2.0
165    0.0
166      ?
167    1.0
168    0.0
169    0.0
170    1.0
171    0.0
172    0.0
173    0.0
174    2.0
175    1.0
176    3.0
177    1.0
178    1.0
179    3.0
180    0.0
181    2.0
182    2.0
183    0.0
184    0.0
185    2.0
186    0.0
187    3.0
188    1.0
189    3.0
190    0.0
191    3.0
192      ?
193    3.0
194    0.0
195    2.0
196    1.0
197    0.0
198    0.0
199    0.0
200    0.0
201    0.0
202    1.0
203    0.0
204    0.0
205    3.0
206    2.0
207    0.0
208    0.0
209    0.0
210    0.0
211    0.0
212    0.0
213    2.0
214    1.0
215    0.0
216    0.0
217    0.0
218    2.0
219    0.0
220    0.0
221    0.0
222    0.0
223    2.0
224    2.0
225    0.0
226    0.0
227    1.0
228    1.0
229    1.0
230    0.0
231    0.0
232    3.0
233    1.0
234    1.0
235    2.0
236    0.0
237    0.0
238    0.0
239    0.0
240    0.0
241    0.0
242    0.0
243    2.0
244    0.0
245    0.0
246    1.0
247    1.0
248    2.0
249    0.0
250    0.0
251    1.0
252    1.0
253    0.0
254    0.0
255    0.0
256    2.0
257    0.0
258    0.0
259    0.0
260    1.0
261    2.0
262    0.0
263    0.0
264    1.0
265    0.0
266    0.0
267    1.0
268    0.0
269    0.0
270    1.0
271    0.0
272    2.0
273    0.0
274    2.0
275    0.0
276    1.0
277    0.0
278    1.0
279    0.0
280    1.0
281    0.0
282    1.0
283    0.0
284    1.0
285    3.0
286    2.0
287      ?
288    0.0
289    0.0
290    0.0
291    0.0
292    0.0
293    2.0
294    0.0
295    0.0
296    2.0
297    0.0
298    0.0
299    2.0
300    1.0
301    1.0
302      ?
Name: CA, dtype: object

In [9]:
data_numerical = data[data['CA'] != '?']

In [10]:
data_numerical['Thal']

0      6.0
1      3.0
2      7.0
3      3.0
4      3.0
5      3.0
6      3.0
7      3.0
8      7.0
9      7.0
10     6.0
11     3.0
12     6.0
13     7.0
14     7.0
15     3.0
16     7.0
17     3.0
18     3.0
19     3.0
20     3.0
21     3.0
22     3.0
23     7.0
24     7.0
25     3.0
26     3.0
27     3.0
28     3.0
29     7.0
30     3.0
31     7.0
32     3.0
33     7.0
34     3.0
35     3.0
36     7.0
37     6.0
38     7.0
39     3.0
40     7.0
41     7.0
42     3.0
43     3.0
44     3.0
45     7.0
46     3.0
47     7.0
48     3.0
49     3.0
50     3.0
51     7.0
52     3.0
53     3.0
54     7.0
55     7.0
56     7.0
57     7.0
58     3.0
59     3.0
60     7.0
61     3.0
62     7.0
63     3.0
64     7.0
65     7.0
66     3.0
67     7.0
68     7.0
69     3.0
70     3.0
71     7.0
72     7.0
73     6.0
74     3.0
75     3.0
76     7.0
77     3.0
78     3.0
79     7.0
80     3.0
81     3.0
82     3.0
83     7.0
84     3.0
85     3.0
86     3.0
87       ?
88     3.0
89     3.0
90     3.0
91     7.0
92     7.0
93     3.0
94     3.0
95     7.0
96     7.0
97     7.0
98     3.0
99     3.0
100    3.0
101    3.0
102    3.0
103    3.0
104    7.0
105    7.0
106    7.0
107    7.0
108    7.0
109    7.0
110    7.0
111    3.0
112    6.0
113    7.0
114    7.0
115    6.0
116    3.0
117    3.0
118    7.0
119    7.0
120    7.0
121    7.0
122    3.0
123    7.0
124    3.0
125    3.0
126    7.0
127    7.0
128    3.0
129    3.0
130    7.0
131    7.0
132    3.0
133    3.0
134    3.0
135    3.0
136    7.0
137    7.0
138    7.0
139    3.0
140    3.0
141    7.0
142    3.0
143    7.0
144    7.0
145    3.0
146    7.0
147    3.0
148    3.0
149    3.0
150    7.0
151    3.0
152    7.0
153    7.0
154    3.0
155    3.0
156    7.0
157    7.0
158    7.0
159    7.0
160    7.0
161    3.0
162    3.0
163    3.0
164    3.0
165    7.0
167    3.0
168    7.0
169    3.0
170    7.0
171    7.0
172    3.0
173    3.0
174    6.0
175    7.0
176    7.0
177    6.0
178    3.0
179    3.0
180    7.0
181    7.0
182    3.0
183    7.0
184    3.0
185    3.0
186    7.0
187    6.0
188    7.0
189    7.0
190    3.0
191    7.0
193    3.0
194    3.0
195    3.0
196    3.0
197    3.0
198    3.0
199    3.0
200    3.0
201    3.0
202    7.0
203    7.0
204    7.0
205    7.0
206    7.0
207    7.0
208    3.0
209    3.0
210    3.0
211    7.0
212    3.0
213    7.0
214    3.0
215    7.0
216    3.0
217    3.0
218    3.0
219    3.0
220    3.0
221    3.0
222    3.0
223    7.0
224    3.0
225    3.0
226    3.0
227    3.0
228    3.0
229    3.0
230    3.0
231    3.0
232    3.0
233    3.0
234    3.0
235    3.0
236    7.0
237    7.0
238    3.0
239    3.0
240    3.0
241    3.0
242    3.0
243    3.0
244    3.0
245    3.0
246    7.0
247    3.0
248    7.0
249    3.0
250    6.0
251    7.0
252    7.0
253    3.0
254    3.0
255    3.0
256    3.0
257    3.0
258    3.0
259    7.0
260    3.0
261    3.0
262    3.0
263    3.0
264    3.0
265    6.0
266      ?
267    6.0
268    7.0
269    3.0
270    7.0
271    6.0
272    7.0
273    3.0
274    3.0
275    7.0
276    3.0
277    3.0
278    3.0
279    3.0
280    7.0
281    3.0
282    7.0
283    3.0
284    7.0
285    6.0
286    6.0
288    7.0
289    3.0
290    7.0
291    3.0
292    6.0
293    7.0
294    3.0
295    3.0
296    6.0
297    7.0
298    7.0
299    7.0
300    7.0
301    3.0
Name: Thal, dtype: object

In [11]:
data_preprocessed = data_numerical[data_numerical['Thal'] != '?']

In [12]:
X = data_preprocessed.drop(['Heart Disease'], axis=1)
y_ = data_preprocessed['Heart Disease']

In [13]:
y_ = y_.to_frame()
y = pd.DataFrame()

Changing all target label values above 0 (i.e. 1,2,3,4) to--> 1 as we want to classify into no-heart disease (0) and heart disease(1 - 4).

In [14]:
y['Heart Disease'] = y_['Heart Disease'].apply(lambda x: x if x < 1 else 1)

We have transformed label values from 1-4 into 1 as can be seen in the initial dataframe (y_) vs our final label dataframe (y) -

In [15]:
y_.head(15)

    Heart Disease
0               0
1               2
2               1
3               0
4               0
5               0
6               3
7               0
8               2
9               1
10              0
11              0
12              2
13              0
14              0

In [16]:
y.head(15)

    Heart Disease
0               0
1               1
2               1
3               0
4               0
5               0
6               1
7               0
8               1
9               1
10              0
11              0
12              1
13              0
14              0

### Model

#### Training and Test sets

Splitting the data into 80-20 split.

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y.values.ravel(), test_size=0.2, random_state=10)

Scaling -

In [18]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#### Linear Discriminant Analysis

In [19]:
class LDA:

    def __init__(self):
        self.w = None # Weights

    def fit(self, X, y):
        n_features = X.shape[1]
        targets = np.unique(y)
        vW = np.zeros((n_features, n_features)) # vW represents variance spread within a cluster
        vB = np.zeros((n_features, n_features)) # vB represents variance spread between 2 clusters
        total_mean = np.mean(X, axis=0)
        for i in targets:
            Xi = X[y == i]
            mean_i = np.mean(Xi, axis=0)
            vW += (Xi - mean_i).T.dot((Xi - mean_i))
            ni = Xi.shape[0]
            mean_diff = (mean_i - total_mean).reshape(n_features, 1)
            vB += ni * (mean_diff).dot(mean_diff.T)

        # vW^-1 * vB
        self.w = np.linalg.inv(vW).dot(vB)
    
    def predict(self, X):
        y_pred = []
        for sample in X:
            h = sample.dot(self.w)
            y = 1 * (h < 0)
            y_pred.append(y[7])
        return y_pred

Fitting training data on our model

In [20]:
lda = LDA()
lda.fit(X_train,y_train)

Testing the model on X_test

In [21]:
predictions = lda.predict(X_test)

### Evaluation

In [22]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
print('Accuracy score: ', accuracy_score(y_test, predictions))
print('Precision score: ', precision_score(y_test, predictions))
print('Recall score: ', recall_score(y_test, predictions))
print('Confusion Matrix:\n', confusion_matrix(y_test,predictions))

print("\nWe have achieved an accuracy of about {}% in predicting Heart Disease through our model.".format(str(round(100*accuracy_score(y_test, predictions),2))))

Accuracy score:  0.8833333333333333
Precision score:  0.8461538461538461
Recall score:  0.88
Confusion Matrix:
 [[31  4]
 [ 3 22]]

We have achieved an accuracy of about 88.33% in predicting Heart Disease through our model.